h1 {
	text-align: center;
}

body {
	background: #f0f8ff;
}

.img {
	text-align:  center;
}

.button_splash {
	text-align: center;
}

.footer_left {
	text-align: left;
}

.footer_right {
	text-align: right;
}

.white {
	background-color: #D8C0A8;
	width:60px;
	height: 60px;
}

.black {
	background-color: #654321;
	width:60px;
	height: 60px;
}

.body {
    font-size: 200%;
}




